In [2]:
import json
import pandas as pd

In [3]:
with open('data/sdg_water.json') as json_file:
    sdg_data = json.load(json_file)

In [5]:
tidy_sdg = pd.DataFrame(columns=['ID', 'Water', 'Year', 'Extent'])

In [14]:
sdg_data["datasets"]['data-cb3798daafaf4ba5eb260d63daa71bfe'][0].keys()

dict_keys(['1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', 'HYBAS_ID', 'Water'])

In [17]:
temprec = []
for hb_rec in sdg_data["datasets"]['data-cb3798daafaf4ba5eb260d63daa71bfe']:
    id = hb_rec['HYBAS_ID'] 
    water = hb_rec['Water']
    for k, v in hb_rec.items():
        if k not in ['HYBAS_ID', 'Water']:
            temprec.append([id, water, k, v ])
tidy_sdg = pd.DataFrame(temprec, columns=['HYBAS_ID', 'Water', 'Year', 'Extent'])
print(tidy_sdg)

HYBAS_ID      Water  Year  Extent
0      2070048790   Seasonal  1984  2.7999
1      2070048790   Seasonal  1985  5.0319
2      2070048790   Seasonal  1986  3.3516
3      2070048790   Seasonal  1987  4.1220
4      2070048790   Seasonal  1988  1.9971
...           ...        ...   ...     ...
13960  2070394580  Permanent  2014  1.4031
13961  2070394580  Permanent  2015  1.4022
13962  2070394580  Permanent  2016  1.4409
13963  2070394580  Permanent  2017  1.5201
13964  2070394580  Permanent  2018  1.4193

[13965 rows x 4 columns]

In [21]:
tidy_sdg.to_csv('data/sdg_water.csv', index=False)